body, html {
    font-size: 10px;
    font-family: Ubuntu,sans-serif;
}
.header{
    background-image: url(/home/revelt/Documents/Projets-prairie/Integration/defi-integration/header_home.png);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.header_logo{
	padding-left: 15rem;
    flex-basis: min-content;
    height: 10rem;
}

.header_image{
	width: 544.67px;
	height: 100px;
}

.header__title {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.tile_uppercase{
	padding: 2.5rem 0;
    word-break: break-all; 
}

ul {
    list-style: none;
    color: #000;

}

a{
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.2em;
	color: #e41248;
}

h1 {
    font-size: 9rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2em;
    vertical-align: baseline;
    text-align: center;
}

.header__pictos {
display: flex;
justify-content: center;
}
.block1{
    display: flex;
}

.block2{
    display: flex;
}

.block1_picto{
    width: 5rem;
    padding-left: 2rem;
}

.block2_picto{
    width: 5rem;
    padding-left: 2rem;
} 

.card__container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 8rem;
}

.chapo{
    max-width: 70%;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    text-transform: none;
}

h2{
	font-size: 3.6rem;
    color: #e41248;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.card {
    box-sizing: border-box;
    margin: 1rem;
    flex: 0 0 auto;
    border-radius: .8rem;
    width: 33.33%;
    padding: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    max-width: 45rem;
}

.card__icon {
	height: 100px;
    width: auto;
}    
.card__title {
    text-align: left;
    padding: 2rem 0;
    flex: 1;
    width:78%;
    font-size: 1.5em;
}

h3 {
    font-size: 2.8rem;
}

.button{
    background: #e41248;
    box-shadow: 0 .3rem .8rem rgba(5,5,5,.16);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    max-width: 28.2rem;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

.content {
    padding: 0 4rem 4rem;
}

.content__title {
    text-align: center;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    white-space: pre-wrap;
    font-size: 1.8rem;
    color: #000;
    line-height: 1.2em;
}

.content__description {
    max-width: 80rem;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

li{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 1.8em;
    color: #e41248;
    display: inline-block;
    width: 1em;
    margin-left: -.8em;
    vertical-align: middle;
}

div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}