/* Partie Emma */
*{
	font-family: Ubuntu;
}

h2{
	text-transform: uppercase;
	color: #e41248;
	font-size: 36px;
}

.polygones__title{
	text-align: center;
}

.halfsplit{
	display: flex;
}

.halfsplit__content{
	background-color: 

	#e2e5e7;

	flex: 1;
	overflow: hidden;
	box-sizing: border-box;
}




.halfsplit__image{
	flex: 1;
	overflow: hidden;
	box-sizing: border-box;
}

.halfsplit__content__inner{
	margin: 80px;
	font-size: 20px;
}

.contact__avatar{
	width: 190px;
	height: auto;
	display: flex;
	margin-left: 43%;
	margin-top: 100px;
}

.contact__content{

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fbfafa;
	font-size: 18px;

}

a{
	color:#e41248;
	font-weight: bold;
}

.contact__footer
{

	text-align: center

}

/*Css thomas*/
body, html {
    font-size: 10px;
    font-family: Ubuntu,sans-serif;
	
}
.header{
    background-image: url(/home/revelt/Documents/Projets-prairie/Integration/defi-integration/header_home.png);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.header_logo{
	padding-left: 15rem;
    flex-basis: min-content;
    height: 10rem;
}

.header_image{
	width: 544.67px;
	height: 100px;
}

.header__title {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.tile_uppercase{
	padding: 2.5rem 0;
    word-break: break-all; 
}

ul {
    list-style: none;
    color: #000;

}

a{
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.2em;
	color: #e41248;
}

h1 {
    font-size: 9rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2em;
    vertical-align: baseline;
    text-align: center;
}

.header__pictos {
display: flex;
justify-content: center;
}
.block1{
	display: flex;
	justify-content: center;
}

.block2{
	display: flex;
	justify-content: center;
}

.block1_picto{
    width: 5rem;
    padding-left: 2rem;
}

.block2_picto{
    width: 5rem;
    padding-left: 2rem;
} 

.card__container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 8rem;
}

.chapo{
    max-width: 70%;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    text-transform: none;
}

h2{
	font-size: 3.6rem;
    color: #e41248;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.card {
    box-sizing: border-box;
    margin: 1rem;
    flex: 0 0 auto;
    border-radius: .8rem;
    width: 33.33%;
    padding: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    max-width: 45rem;
}

.card__icon {
	height: 100px;
    width: auto;
}    
.card__title {
    text-align: left;
    padding: 2rem 0;
    flex: 1;
    width:78%;
    font-size: 1.5em;
}

h3 {
    font-size: 2.8rem;
}

.button{
    background: #e41248;
    box-shadow: 0 .3rem .8rem rgba(5,5,5,.16);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    max-width: 28.2rem;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

.content {
    padding: 0 4rem 4rem;
}

.content__title {
    text-align: center;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    white-space: pre-wrap;
    font-size: 1.8rem;
    color: #000;
    line-height: 1.2em;
}

.content__description {
    max-width: 80rem;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

li{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 1.8em;
    color: #e41248;
    display: inline-block;
    width: 1em;
    margin-left: -.8em;
    vertical-align: middle;
}

div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*Css caro*/
.Partenaire{ border : 2px solid black;
	height: 700px ;
	width: auto;
	margin: 0px;
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
body { margin: 0px ;

	/*LOGO PARTENAIRES*/

}
.TitrePartenaires,.partenaires__2 ,.partenaires__3{ text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	color: #e41248;
	margin-bottom:  15px;
	/*font-weight: 700;*/
	font-family: 'Ubuntu';
	align-items: center;

}

.partenaires__2 { display: flex;
	flex-wrap: nowrap;
	justify-content: space-between ;
	width: 900px;
	margin-top: 20px;

}
.partenaires__3 { display: flex;
	justify-content: space-around;
	width: 350px;
	margin-top: 15px;

}
.paragrapheP {  /*border : 2px solid black;*/
	width: 565px;
	font-family: 'Ubuntu';
	margin-bottom: 20px
}
/* PIED DE PAGE / FOOTER */

footer { background-color: black ;
	color: white ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	/* border :2px solid red;*/


}
/*logo simplon*/
.logo-container { height: 200px;
	width: auto;
	/*border: 2px solid green ;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


}
.footer__logo { width: 450px;
	height: 100px;

}
.footer__baseline { font-family: "Ubuntu";
font-size : 22px;
margin: 0px;
}
/*mention legal*/
a { /*text-decoration: none;*/
	color: white ;
}
.footer__info { font-family: "Ubuntu";
word-spacing: 5px ;
/*border : 2px solid white;*/
height: 21px ;
width : 600px;
display: flex;
justify-content: space-around;
}
/* reseaux sociaux */
.footer__rs { /*border : 2px solid white;*/
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__rs__image--facebook,.footer__rs__image--twitter, .footer__rs__image--instagram { width: 50px;
	height:50px;
}
.footer__rs__image--instagram {height:40px;
	width: 40px;
}
.footer__rs__image--linkedin {height:65px;
	width: 65px;
}
.footer__links { display: flex;
	justify-content: space-around;
	/*border: 2px solid yellow ;*/
	width :1000px;
	align-items: center;
}

